<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Home Loan Monthly Repayment Breakdown Calculator</title>
  <%= stylesheet_link_tag 'common', :media=>'all' %>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>

    <div id="footer">
    Copyright &copy; 2008 <a href="http://jamescrisp.org" target="_blank">James Crisp</a>
      | No warrantee expressed or implied, use at own risk |
    <a href="http://jamescrisp.org/contact" target="_blank">Send feedback</a>
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4111680-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
  
</body>
